span {
    display: inline-block;
  }

body {
    text-align: center;
}
  /* span {
    display: inline-block;
    background-color: lightblue;
    padding: 5px;
    border: 1px solid darkgray;
  } */
  /* 
  #one {
    background-color:lightblue;
    width: 150px;
    height: 200px;
  }
  
  #two {
    background-color: cornflowerblue;
    width: 200px;
    height: 50px;
  }
  
  #three {
    background-color: rgb(187, 189, 243);
    width: 175px;
    height: 150px;
  } */
  
  /* div,
  span {
    margin: 1px;
  }
  
  span {
    border: 1px solid #333;
      
    padding: 10px 15px;
  }
  
  #pics span,
  #text span {
    padding: 25px 30px;
  }
  
  #text span {
    background-color: white;
  } */